PORT = 5001

DB_HOST = localhost
DB_PORT = 5432
DB_NAME = piccolina_db
DB_USERNAME = postgres
DB_PASSWORD = postgres

TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_DATABASE = piccolina_db
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = postgres
TYPEORM_SYNCHRONIZE = false
TYPEORM_LOGGING = true
TYPEORM_ENTITIES = src/**/*.entity.ts

TYPEORM_MIGRATIONS = src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = src/database/migrations
TYPEORM_MIGRATIONS_TABLE_NAME = migrations